/*@import "~semantic-ui/dist/semantic.css";
@import "~angular2-busy/build/style/busy.css"; */


html {  }

body {
    
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#flexContainer {
    /* Specifies that the contents will be laid out according to Flexbox rules. */
    display: flex;
} 

h1 {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2, h3, h4, h5 {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
button {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    border: 5px solid powderblue;
}



.main_container {
    height: 100%;
}

.page {
    height: 100%;
}

.capitalize {
    text-transform: capitalize;
}

.right_align{
    text-align: right;
}


