<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\list.css" />
    <script src="socket.io/socket.io.js"></script>


    <script>

        function dropdownSelection() {
            var socket = io.connect();
            var data = document.getElementById("selectRight").value;
            //document.getElementById("Text2").value = data;
            socket.emit('ddselect', { data: data });
            console.log("drop down name selected");
        };

        function createRight() {
            var socket = io.connect();
            socket.emit('createRight', { data: 'You clicked the create button' });
            console.log("create button clicked");
        };

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function enableID(value) {
            console.log(document.getElementById(value).getAttribute("disabled"));
            if (document.getElementById(value).getAttribute("disabled") == null) {
                document.getElementById(value).setAttribute('disabled', 'disabled');
            } else {
                document.getElementById(value).removeAttribute("disabled");
            }
        };

        /* When the user clicks on the button toggle between hiding and showing the dropdown content */
        function ddShow(clickSource) {
            //console.log(obj);
            if (clickSource == "userbutton") {
                document.getElementById("myDropdown").classList.toggle("show");
            } else if (clickSource == "IDDDbutton") {
                document.getElementById("IDDropdown").classList.toggle("show");
            }
        };

    </script>

</head>

<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date().toLocaleString();
            document.getElementById("hLoggedInAs").innerText = "Welcome " + sessionStorage.getItem("name"); // + " on " + ts;
            document.getElementById("pagetitle").innerText = "Services : " + sessionStorage.getItem("servicename");
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = data.data;
        });

        socket.on('message', function (data) {
            console.log(data.message);
            //document.getElementById("Text1").value = data.message;
        });
        socket.on('dd_data', function (data) {
            console.log("dd_data in browser called with ...");
            console.log(data.data);
            //document.getElementById("Text2").value = data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        socket.on('createRightRet', function (data) {
            console.log("Create right in browser called ...");
            //window.location("create");
            alert("Right created");
        });

        function goBack() {
            window.history.back();
        };

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            console.log("window.onclick called " + e.target.className);
            if (e.target.className != 'dropbtn') {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };
    </script>

    <div class="flex-title">
        <div>
            <img id="logoImg" alt="no logo" src="images/logo.png" width="104" height="104" />
        </div>
        <div class="hpagefunction" id="pagetitle">Services</div>
        <div class="flex-menu">
            <h2 id="hLoggedInAs">Welcome</h2>
            <img id="userimage" src="images/avatars/debbie.jpg" width="50" height="50" style="border-radius: 100%" />
            <div class="dropdown">
                <button onclick="ddShow(this.id)" class="dropbtn" id="userbutton"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Account</a>
                    <a href="#" onclick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header"></div>
    <div class="flex-body" style="height:80%">
        <div class="flex-containercentre">
            <div class="flex-containerrightalign">
                <div class="flex-containertitle">
                    <div class="flex-container5">
                        <h3>Create Right</h3>
                    </div>
                    <div class="flex-containerrights">
                        <div>
                            <h4>Name of Right</h4>
                            <input class="input-field" id="RightText" type="text" />
                        </div>
                        <div>
                            <div class="flex-container1">
                                <h4>Identity Verification</h4>
                                <input class="checkbox" id="IDrequired" type="checkbox" onclick="enableID('selectID')" />
                            </div>

                            <!--<div class="dropdown">
                                <button onclick="ddShow(this.id)" class="dropbtn" id="IDDDbutton"></button>
                                <div id="IDDropdown" class="dropdown-content">
                                    <a href="#">Belgian Identity Service</a>
                                    <a href="#">Finnish Identity Service</a>
                                    <a href="#">UK Identity Service</a>
                                </div>
                            </div>-->

                            <select id="selectID" name="D2" disabled="disabled">
                                <option>Belgian Identity Service</option>
                                <option>Finnish Identity Service</option>
                                <option>UK Identity Service</option>
                            </select>
                        </div>
                        <div>
                            <div class="flex-container1">
                                <h4>Value Limit</h4>
                                <input class="checkbox" id="Limitrequired" type="checkbox" onclick="enableID('Limittext')" />
                            </div>
                            <input class="input-field" id="Limittext" type="number" value="0" disabled="disabled" />
                        </div>
                        <div>
                            <div class="flex-container1">
                                <h4>Time Limit</h4>
                                <input class="checkbox" id="Timerequired" type="checkbox" onclick="enableID('Timetext')" />
                            </div>
                            <input class="input-field" id="Timetext" type="date" disabled="disabled" />
                        </div>
                        <div class="flex-container1">
                            <h4>Divisibility</h4>
                            <input class="checkbox" id="Divisibilityrequired" type="checkbox" onclick="enableID('Divisibilitytext')" />
                        </div>
                        <div class="flex-container1">
                            <h4>Tax</h4>
                            <input class="checkbox" id="Taxrequired" type="checkbox" onclick="enableID('Taxtext')" />
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div>
                    <button class="ui button" id="createButton" type="button" onclick="createRight()">Create</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
