<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <!--<link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\table.min.css" />-->
    <script src="socket.io/socket.io.js"></script>

    <script>

        var currentRightTableRow;
        var currentUserTableRow;
        var amendData;
        var rightTotalRows;
        var userTotalRows;

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function getServiceData() {

            var serviceData = {
                name: "",
                users: [],
                rights: []
            };

            // set service name
            serviceData.name = document.getElementById("servicetext").value;

            // set service rights
            var tableRef = document.getElementById('rightTable').getElementsByTagName('tbody')[0];
            for (counter = 0; counter < rightTotalRows; counter++) {
                var IDstr = "rightTableRow" + (counter + 1);
                console.log("set right for " + IDstr);
                serviceData.rights.push(document.getElementById(IDstr).innerText);
                //serviceData.rights += document.getElementById(IDstr).innerText;
                // // add trailling comma if required
                //if (counter + 1 < rightTotalRows) {
                //    serviceData.rights += ",";
                //}
            };


            // set service users
            tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            for (counter = 0; counter < userTotalRows; counter++) {
                var IDstr = "userTableRow" + (counter + 1);
                console.log("add user " + document.getElementById(IDstr).innerText);
                serviceData.users.push(document.getElementById(IDstr).innerText);
                //serviceData.users += document.getElementById(IDstr).innerText;
                //// add trailling comma if required
                //if (counter + 1 < userTotalRows) {
                //    serviceData.users += ",";
                //}
            };

           // alert("serviceData is " + serviceData.name + " " + serviceData.rights);

            return serviceData;
        }

        function createNewService() {
            // create and build up data object
            var serviceData = {
                name: "",
                users: "",
                rights: ""
            };

            serviceData = getServiceData();

            var socket = io.connect();
            if (amendData) {
                socket.emit('amendService', { data: serviceData });
                console.log("amend button clicked");
            } else {
                socket.emit('createNewService', { data: serviceData });
                console.log("create button clicked");
            }
        };

        function setServiceName(value) {
            //sessionStorage.setItem("servicename", value);
            amendData = true;
        }

        function createNewRight() {

            var serviceData = {
                name: "",
                users: "",
                rights: ""
            };

            serviceData = getServiceData();
            sessionStorage.setItem("servicename", serviceData.name);
            sessionStorage.setItem("authorisedusers", serviceData.users);
            sessionStorage.setItem("righttypes", serviceData.rights);
            window.location.href = "createright";
            console.log("New Right button clicked");
        };

        function addRight(value) {
            console.log("addRight " + value);

            var tableRef = document.getElementById('rightTable').getElementsByTagName('tbody')[0];
            var numrows = tableRef.rows.length;
            var row = tableRef.insertRow(numrows);
            userTotalRows = tableRef.rows.length;
            var newRowId = "rightTableRow" + (numrows + 1);
            row.setAttribute("id", newRowId);
            row.setAttribute("onclick", "rowClick(this)");

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var nameCell = row.insertCell(0);

            // Add some text to the new cells:
            nameCell.innerHTML = value;
        };

        function deleteRight() {
            console.log("deleteRight ");

            // deselect then delete row
            if (currentRightTableRow > 0) {
                console.log("deleting right row " + currentRightTableRow);
                var IDstr = "rightTableRow" + currentRightTableRow.toString();
                document.getElementById(IDstr).removeAttribute("class");
                // delete from session storage
                sessionStorage.removeItem(document.getElementById(IDstr).innerText);
                document.getElementById('rightTable').deleteRow(currentRightTableRow);
                currentRightTableRow = 0;
                rightTotalRows--;
            }

            // re number ID's
            var tableRef = document.getElementById('rightTable').getElementsByTagName('tbody')[0];
            for (counter = 0; counter < rightTotalRows; counter++) {
                var IDstr = "rightTableRow" + (counter + 1);
                tableRef.rows[counter].setAttribute("id", IDstr);
            };
        };

        function addUser(value) {
            // add to session storage 
           // sessionStorage.setItem("authorisedusers", sessionStorage.getItem("authorisedusers") + "," + value);
            loadUser(value);
        }


        function loadUser(value) {
            console.log("loadUser " + value);

            var tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            var numrows = tableRef.rows.length;
            var row = tableRef.insertRow(numrows);
            userTotalRows = tableRef.rows.length;
            var newRowId = "userTableRow" + (numrows + 1);
            row.setAttribute("id", newRowId);
            row.setAttribute("onclick", "rowClick(this)");

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var nameCell = row.insertCell(0);

            // Add some text to the new cells:
            nameCell.innerHTML = value;
        };

        function deleteUser(value) {
            console.log("deleteUser ");

            // deselect then delete row
            if (currentUserTableRow > 0) {
                console.log("deleting user row " + currentUserTableRow);
                var IDstr = "userTableRow" + currentUserTableRow.toString();
                document.getElementById(IDstr).removeAttribute("class");
                document.getElementById('userTable').deleteRow(currentUserTableRow);
                currentUserTableRow = 0;
                userTotalRows--;
            }

            // re number ID's
            var tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            for (counter = 0; counter < userTotalRows; counter++) {
                var IDstr = "userTableRow" + (counter + 1);
                tableRef.rows[counter].setAttribute("id", IDstr);
            };
        };


        function rowClick(value) {

            var totalRows = 0;

            if (value.id.substring(0, 5) == "right") {
                // this is the right table
                totalRows = rightTotalRows;
            } else {
                // user table
                totalRows = userTotalRows;
            };

            console.log("rowClick row value is " + value.rowIndex);
            console.log("current row value is " + currentRightTableRow);
            // check either user or right table
            if (value.id.substring(0, 5) == "right") {
                console.log("1");
                // deselect previously selected row 
                if (currentRightTableRow > 0) {
                    var IDstr = value.id.substring(0, value.id.length - 1) + currentRightTableRow.toString();
                    document.getElementById(IDstr).removeAttribute("class");
                }
                // previous row re-clicked so unselected
                if (currentRightTableRow == value.rowIndex) {
                    console.log("3");
                    document.getElementById("createButton").setAttribute("disabled", "disabled");
                    currentRightTableRow = 0;
                    // clear right 
                    sessionStorage.setItem("right", "");
                    // change button text to Add
                    var tempStr = document.getElementById("rightButton").innerHTML;
                    tempStr = tempStr.replace("Amend", "Add");//
                    document.getElementById("rightButton").innerHTML = tempStr;
                } else {
                    console.log("4");
                    document.getElementById(value.id).setAttribute("class", "positive");
                    currentRightTableRow = value.rowIndex;
                    // set right 
                    sessionStorage.setItem("right", document.getElementById(value.id).innerText);
                    // change button text to Add
                    var tempStr = document.getElementById("rightButton").innerHTML;
                    tempStr = tempStr.replace("Add", "Amend");
                    document.getElementById("rightButton").innerHTML = tempStr;
                }
            }
            if (value.id.substring(0, 4) == "user") {
                console.log("1");
                // deselect previously selected row if another row clicked
                if (currentUserTableRow > 0) {
                    var IDstr = value.id.substring(0, value.id.length - 1) + currentUserTableRow.toString();
                    document.getElementById(IDstr).removeAttribute("class");
                }
                // previous row re-clicked so unselected
                if (currentUserTableRow == value.rowIndex) {
                    console.log("3");
                    document.getElementById("createButton").setAttribute("disabled", "disabled");
                    currentUserTableRow = 0;
                    // clear right 
                    sessionStorage.setItem("user", "");
                } else {
                    console.log("4");
                    document.getElementById(value.id).setAttribute("class", "positive");
                    currentUserTableRow = value.rowIndex;
                    // set right 
                    sessionStorage.setItem("user", document.getElementById(value.id).innerText);
                }
            };

            // if right and user selected then enable main create/amend button
            if ((currentRightTableRow > 0) && (currentUserTableRow > 0)) {
                document.getElementById("createButton").removeAttribute("disabled");
            }
        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            document.getElementById("hLoggedInAs").innerHTML = "<h1 class=\"ui right aligned header\" style=\"color: white\">Welcome " + sessionStorage.getItem("name") + "</h1>";

            //var tmp = sessionStorage.getItem("servicename");
            //console.log(tmp[0]);

            // check if new or amend
            if (sessionStorage.getItem("mode") == "create") {
                document.getElementById("mainTitle").innerText = "Service - new";
               // document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");
                amendData = false;
            } else if (sessionStorage.getItem("mode") == "amend") {
                // add data passed from services page
                document.getElementById("mainTitle").innerText = "Service - amend";
                document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");
                // scan through users and rights arrays 
                // if they exist
                if (sessionStorage.getItem("authorisedusers") != null) {
                    var users = sessionStorage.getItem("authorisedusers").split(",");
                    for (counter = 0; counter < users.length; counter++) {
                        if ((users[counter] != 'null') && (users[counter] != "")) {
                            loadUser(users[counter]);
                        }
                    }
                }
                if (sessionStorage.getItem("righttypes") != null) {
                    var rights = sessionStorage.getItem("righttypes").split(",");
                    for (counter = 0; counter < rights.length; counter++) {
                        if ((rights[counter] != 'null') && (rights[counter] != "")) {
                            addRight(rights[counter]);
                        }
                    }
                }
                document.getElementById("createButton").innerText = "Amend";
                amendData = true;

            };

            // add new right if coming from createright page
            var newRight = sessionStorage.getItem("newright");
            console.log("new right " + newRight);
            if (newRight != null) {
                addRight(newRight);
                sessionStorage.removeItem("newright");

                document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");

                // scan through users and rights arrays 
                // if they exist
                if (sessionStorage.getItem("authorisedusers") != null) {
                    var users = sessionStorage.getItem("authorisedusers").split(",");
                    for (counter = 0; counter < users.length; counter++) {
                        if ((users[counter] != 'null') && (users[counter] != "")) {
                            loadUser(users[counter]);
                        }
                    }
                }
                if (sessionStorage.getItem("righttypes") != null) {
                    var rights = sessionStorage.getItem("righttypes").split(",");
                    for (counter = 0; counter < rights.length; counter++) {
                        if ((rights[counter] != 'null') && (rights[counter] != "")) {
                            addRight(rights[counter]);
                        }
                    }
                }
            };

            // get no. rows in each table. Used in rowClick()
            var tableRef = document.getElementById('rightTable').getElementsByTagName('tbody')[0];
            rightTotalRows = tableRef.rows.length;
            tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            userTotalRows = tableRef.rows.length;

            currentRightTableRow = 0;
            currentUserTableRow = 0;

            // clear any stored data but keep username stored as this seems to caused the services window to load twice when returning from here if it's null !!!!!!!!
            var tmpName = sessionStorage.getItem("name");
            sessionStorage.clear();
            sessionStorage.setItem("name", tmpName);
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location.href = "/";
        });

        socket.on('createNewServiceRet', function (data) {
            console.log("Create new service in browser called ...");
            //var sname = document.getElementById("servicetext").value;
            //sessionStorage.setItem("servicename", sname);
            window.location.href = "services";
        });

        socket.on('amendServiceRet', function (data) {
            console.log("Amend service in browser called ...");
            //var sname = document.getElementById("servicetext").value;
            //sessionStorage.setItem("servicename", sname);
            window.location.href = "services";
        });

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        function goBack() {
            console.log("goBack called");
            window.location.href = "services";
            //window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });

    </script>

    <div class="ui equal width middle aligned padded grid">

        <div class="grey row">
            <div class="column">
                <img class="ui small image" style="border-radius: 5%" src="images/logo.png" />
            </div>
            <div class="column">
                <h1 class="ui left aligned header" id="mainTitle" style="color: white">Service</h1>
            </div>
            <div class="column"></div>
            <div class="column" id="hLoggedInAs">
                <h1 class="ui right aligned header" style="color: white">Welcome</h1>
            </div>

            <div class="column">
                <div class="ui right aligned dropdown">
                    <img class="ui tiny avatar image" src="images/avatars/debbie.jpg" />
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="logout()">
                            <i class="sign out icon"></i>
                            Logout
                        </div>
                    </div>
                </div>
            </div>
            <div class="right aligned column">
                <i class="arrow circle left huge icon" id="gobackicon" style="cursor: pointer" onclick="goBack()"></i>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header">
        <i class="calendar icon"></i>
        April 5, 2017
    </div>


    <div class="ui hidden divider"></div>

    <div class="ui padded grid" style="padding-top: 5%; padding-left: 20%; padding-right: 25%">
        <div class="ui right aligned column">
            <div class="flex-containerredtitle">
                <div class="flex-container5">
                    <h3>Service</h3>
                </div>
                <div class="flex-container4">
                    <div class="ui form">
                        <div class="field">
                            <div class="ui input">
                                <div class="ui large label" style="float: left">
                                    Service Name
                                </div>
                                <input type="text" id="servicetext" placeholder="" onchange="setServiceName(this.value)" />
                            </div>
                        </div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="fields">
                            <div class="field">
                                <div style="height: 180px; overflow-y: scroll; overflow-x: hidden; border: solid 1px;">
                                    <table class="ui selectable celled table" style="background-color: white; width: 220px" id="rightTable">
                                        <thead>
                                            <tr>
                                                <th>Available Right Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--<tr id="rightTableRow1" onclick="rowClick(this)">
                                                <td> &nbsp; </td>
                                            </tr>
                                            <tr id="rightTableRow2" onclick="rowClick(this)">
                                                <td> &nbsp; </td>
                                            </tr>
                                            <tr id="rightTableRow3" onclick="rowClick(this)">
                                                <td> &nbsp; </td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>

                                <div class="ui hidden divider"></div>

                                <div class="ui buttons">
                                    <div class="ui grey button" id="rightButton" onclick="createNewRight()">
                                        Add
                                    </div>
                                    <div class="or"></div>
                                    <div class="ui grey button" id="rightDelButton" onclick="deleteRight()">
                                        Del
                                    </div>
                                </div>
                            </div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field">
                                <div style="height: 180px; overflow-y: scroll; overflow-x: hidden; border: solid 1px">
                                    <table class="ui table" style="background-color: white; width: 220px;" id="userTable">
                                        <thead>
                                            <tr>
                                                <th>Eligible Service Users</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr id="userTableRow1" onclick="rowClick(this)">
                                                <td>Janna</td>
                                            </tr>
                                            <tr id="userTableRow2" onclick="rowClick(this)">
                                                <td>Tommi</td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui hidden divider"></div>
                                <div class="ui buttons">
                                    <div class="ui grey dropdown button" id="userButton">
                                        Add
                                    <div class="menu">

                                        <div class="divider"></div>

                                        <div class="item" onclick="addUser(this.innerText)">
                                            <!--<div class="ui red empty circular label"></div>-->
                                            Adam
                                        </div>
                                        <div class="item" onclick="addUser(this.innerText)">
                                            <!--<div class="ui blue empty circular label"></div>-->
                                            Helal
                                        </div>
                                        <div class="item" onclick="addUser(this.innerText)">
                                            <!--<div class="ui black empty circular label"></div>-->
                                            Neil
                                        </div>
                                        <div class="divider"></div>
                                    </div>
                                    </div>
                                    <div class="or"></div>
                                    <div class="ui grey button" id="userDelButton" onclick="deleteUser()">
                                        Del
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <button class="ui button" id="createButton" type="button" onclick="createNewService()">Create</button>
        </div>
    </div>

</body>
</html>
