<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <!-- <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <!--<link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\table.min.css" />-->
    <script src="socket.io/socket.io.js"></script>

    <script>

        var currentTableRow;
        var amendData;

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function createNewService() {
            //var socket = io.connect();
            //socket.emit('createNewService', { data: 'You clicked the create button' });
            var svrName = document.getElementById("servicetext").value;
            if (amendData) {
                alert("Service " + svrName + " amended");
            } else {
                alert("New Service " + svrName + " created");
            };

            console.log("create button clicked");
        };

        function createNewRight() {

            // sessionStorage.setItem("servicename", data.data);
            window.location("createright");
            console.log("New Right button clicked");
        };

        function rowClick(value) {
            
            // deselect all rows
            for (i = 1; i < 3; i++) {
                var IDstr = value.id.substring(0, value.id.length - 1) + i.toString();
                console.log("rowClick value is " + IDstr);
                document.getElementById(IDstr).removeAttribute("class");
            }
            //var IDstr = value.id.substring(0, value.id.length - 1) + i.toString();
            console.log("rowClick index is " + value.rowIndex);
            if (currentTableRow == value.rowIndex) {  // deselect row as previously selected
                document.getElementById(value.id).removeAttribute("class");
                document.getElementById("createButton").removeAttribute("disabled");
                currentTableRow = 0;
                
                if (value.id.substring(0, 5) == "right") {
                    // clear right 
                    sessionStorage.setItem("right", "");
                    // change button text to Add
                    var tempStr = document.getElementById("rightButton").innerHTML;
                    tempStr = tempStr.replace("Amend", "Add");
                    console.log(tempStr);
                    document.getElementById("rightButton").innerHTML = tempStr;
                };
            } else { // select row
                document.getElementById(value.id).setAttribute("class", "positive");
                document.getElementById("createButton").removeAttribute("disabled");
                currentTableRow = value.rowIndex;
                // save current right
                if (value.id.substring(0, 5) == "right") {
                    sessionStorage.setItem("right",document.getElementById(value.id).innerText);
                    console.log("rowClick right is " + document.getElementById(value.id).innerText);
                    // change button text to Amend
                    var tempStr = document.getElementById("rightButton").innerHTML;
                    tempStr = tempStr.replace("Add", "Amend");
                    console.log(tempStr);
                    document.getElementById("rightButton").innerHTML = tempStr;
                };
            } 
        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            document.getElementById("hLoggedInAs").innerHTML = "<h1 class=\"ui right aligned header\" style=\"color: white\">Welcome " + sessionStorage.getItem("name") + "</h1>";

            console.log(sessionStorage.getItem("servicename"));

            // clear any stored rights
            sessionStorage.setItem("right", "");

            // check if new or amend
            if (sessionStorage.getItem("servicename") == "new") {
                document.getElementById("mainTitle").innerText = "Service - new";
                amendData = false;
            } else {
                document.getElementById("mainTitle").innerText = "Service - amend";
                document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");
                document.getElementById("createButton").innerText = "Amend";
                amendData = true;
            };
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        //socket.on('createNewServiceRet', function (data) {
        //    console.log("Create new service in browser called ...");
        //    var sname = document.getElementById("servicetext").value;
        //    sessionStorage.setItem("servicename", sname);
        //    window.location("createright");
        //});

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        function goBack() {
            window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>

    <div class="ui equal width middle aligned padded grid">

        <div class="grey row">
            <div class="column">
                <img class="ui small image" style="border-radius: 5%" src="images/logo.png" />
            </div>
            <div class="column">
                <h1 class="ui left aligned header" id="mainTitle" style="color: white">Service</h1>
            </div>
            <div class="column"></div>
            <!--<div class="column"></div>-->
            <div class="column" id="hLoggedInAs">
                <h1 class="ui right aligned header" style="color: white">Welcome</h1>
            </div>

            <div class="column">
                <div class="ui right aligned dropdown">
                    <img class="ui tiny avatar image" src="images/avatars/debbie.jpg" />
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="logout()">
                            <i class="sign out icon"></i>
                            Logout
                        </div>
                    </div>
                </div>
            </div>
            <div class="right aligned column">
                <i class="arrow circle left huge icon" id="gobackicon" style="cursor: pointer" onclick="goBack()"></i>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header">
        <i class="calendar icon"></i>
        April 5, 2017
    </div>


    <div class="ui hidden divider"></div>

    <div class="ui padded grid" style="padding-top: 7%; padding-left: 20%; padding-right: 20%">
        <div class="ui right aligned column">
            <div class="flex-containerredtitle">
                <div class="flex-container5">
                    <h3>Service</h3>
                </div>
                <div class="flex-container3">

                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        Service Name
                                    </div>
                                    <input type="text" id="servicetext" placeholder="" />
                                </div>
                            </div>

                            <div class="field"></div>
                            <div class="field"></div>

                            <div class="field">
                                <table class="ui selectable celled table" style="background-color: white; width: 220px">
                                    <thead>
                                        <tr>
                                            <th>Available Rights</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="rightTableRow1" onclick="rowClick(this)">
                                            <td>Right of Ownership</td>
                                        </tr>
                                        <tr id="rightTableRow2" onclick="rowClick(this)">
                                            <td>Mining Rights</td>
                                        </tr>
                                    </tbody>

                                    <tfoot class="full-width">
                                        <tr>
                                            <th colspan="1">
                                                <div class="ui right floated small primary labeled icon button" id="rightButton" onclick="createNewRight()">
                                                    <i class="file text outline icon"></i>Add Right
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="field"></div>
                            <div class="field"></div>

                            <div class="field">
                                <table class="ui selectable celled table" style="background-color: white; width: 220px">
                                    <thead>
                                        <tr>
                                            <th>Eligible Users</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="userTableRow1" onclick="rowClick(this)">
                                            <td>Hugue</td>
                                        </tr>
                                        <tr id="userTableRow2" onclick="rowClick(this)">
                                            <td>Tommi</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="full-width">
                                        <tr>
                                            <th colspan="1">
                                                <div class="ui right floated small secondary labeled icon button">
                                                    <i class="user icon"></i>Add User
                                                </div>

                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <button class="ui button" id="createButton" type="button" onclick="createNewService()" disabled="disabled">Create</button>
        </div>
    </div>

</body>
</html>
