<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <!--   <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.css' />
    
    <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\list.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <script src="socket.io/socket.io.js"></script>


    <script>

        function dropdownSelection() {
            var socket = io.connect();
            var data = document.getElementById("selectRight").value;
            //document.getElementById("Text2").value = data;
            socket.emit('ddselect', { data: data });
            console.log("drop down name selected");
        };

        function createRight() {
            var socket = io.connect();
            socket.emit('createRight', { data: 'You clicked the create button' });
            console.log("create button clicked");
        };

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function enableID(value) {
            console.log(value);
            if (value == 'DDclass') {
                var currentClass = document.getElementById("DDclass").getAttribute('class');
                if (currentClass == "ui selection dropdown") {
                    document.getElementById("DDclass").setAttribute('class', 'ui disabled selection dropdown');
                } else if (currentClass == "ui disabled selection dropdown") {
                    document.getElementById("DDclass").setAttribute('class', 'ui selection dropdown');
                }
            } else {
                if (document.getElementById(value).getAttribute('disabled') == null) {
                    document.getElementById(value).setAttribute('disabled', 'disabled');
                    console.log(' --- 1');
                } else if (document.getElementById(value).getAttribute('disabled').toString() == 'disabled') {
                    document.getElementById(value).removeAttribute('disabled');
                    console.log(' --- 2');
                }
            }
        };


    </script>

</head>

<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            document.getElementById("hLoggedInAs").innerHTML = "<h1 class=\"ui right aligned header\">Welcome " + sessionStorage.getItem("name") + "</h1>";
            document.getElementById("pagetitle").innerText = "Rights : " + sessionStorage.getItem("servicename");
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('message', function (data) {
            console.log(data.message);
            //document.getElementById("Text1").value = data.message;
        });
        socket.on('dd_data', function (data) {
            console.log("dd_data in browser called with ...");
            console.log(data.data);
            //document.getElementById("Text2").value = data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        socket.on('createRightRet', function (data) {
            console.log("Create right in browser called ...");
            //window.location("create");
            alert("Right created");
        });

        function goBack() {
            window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });
    </script>

    <div class="ui equal width middle aligned padded grid">

        <div class="grey row">
            <div class="column">
                <img class="ui small image" style="border-radius: 5%" src="images/logo.png" />
            </div>
            <div class="column">
                <h1 class="ui left aligned header" id="pagetitle" style="color: white">Rights</h1>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column" id="hLoggedInAs">
                <h1 class="ui right aligned header">Welcome</h1>
            </div>

            <div class="column">
                <div class="ui right aligned dropdown">
                    <img class="ui avatar image" src="images/avatars/debbie.jpg" />
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="logout()">
                            <i class="sign out icon"></i>
                            Logout
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header"><i class="calendar icon"></i>April 5, 2017</div>

    <div class="ui hidden divider"></div>

    <!--<div class="ui padded grid" style="padding-top: 7%; padding-left: 20%; padding-right: 20%">
        <div class="ui right aligned column">
            <div class="flex-containerredtitle">
                <div class="flex-container5">
                    <h3>Create Service</h3>
                </div>-->
    <div class="ui four column padded grid" style="padding-top: 7%; padding-left: 10%; padding-right: 10%">

        <div class="four column centered row">

            <div class="column">
                <div class="ui labeled input">
                    <div class="ui label">
                        Right Name
                    </div>
                    <input type="text" id="righttext" placeholder="" />
                </div>
            </div>
            <div class="column">  <!--ui left floated compact segment-->
                <div class="ui fitted toggle checkbox">
                    <input type="checkbox" />
                    <label></label>
                </div>
            </div>
            <div class="left floated column">
                <div class="ui compact menu">
                    <div class="ui simple dropdown item">
                        Identity Verification
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Belgian Identity Service</div>
                            <div class="item">Finnish Identity Service</div>
                            <div class="item">UK Identity Service</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="four column centered row">
            <div class="column">
                <div class="ui toggle checkbox">
                    <input name="example" type="checkbox" />
                    <!--<label></label>-->
                </div>
            </div>
            <div class="column">
                <div class="ui labeled input" style="float: left">
                    <div class="ui label">
                        Value Limit
                    </div>
                    <input type="text" id="limittext" placeholder="" />
                </div>
            </div>
            <div class="column">
                <div class="ui checkbox">
                    <input name="example" type="checkbox" />
                    <label>Make my profile visible</label>
                </div>
            </div>
        </div>
        <div class="four column centered row">
            <div class="column">
                <div class="ui checkbox">
                    <input name="example" type="checkbox" />
                    <label>Make my profile visible</label>
                </div>
            </div>
            <div class="column">
                <div class="ui checkbox">
                    <input name="example" type="checkbox" />
                    <label>Make my profile visible</label>
                </div>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
    <button class="ui button" id="createNewButton" type="button" onclick="createNewService()" disabled="disabled">Create</button>

</body>
</html>
