<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <!-- <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <!--<link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\table.min.css" />-->
    <script src="socket.io/socket.io.js"></script>

    <script>

        var currentRightTableRow;
        var currentUserTableRow;
        var amendData;
        var rightTotalRows;
        var userTotalRows;

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function createNewService() {
            //var socket = io.connect();
            //socket.emit('createNewService', { data: 'You clicked the create button' });
            var svrName = document.getElementById("servicetext").value;
            if (amendData) {
                alert("Service " + svrName + " amended");
            } else {
                alert("New Service " + svrName + " created");
            };

            console.log("create button clicked");
        };

        function createNewRight() {

            // sessionStorage.setItem("servicename", data.data);
            window.location("createright");
            console.log("New Right button clicked");
        };


        function addUser(value) {
            console.log("addUser " + value.innerText);

            var tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            var numrows = tableRef.rows.length;
            var row = tableRef.insertRow(numrows);
            userTotalRows = tableRef.rows.length;
            var newRowId = "userTableRow" + (numrows + 1);
            row.setAttribute("id", newRowId);
            row.setAttribute("onclick", "rowClick(this)");

            // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
            var nameCell = row.insertCell(0);

            // Add some text to the new cells:
            nameCell.innerHTML = value.innerText;

            // override semantic ui func which overwrites innertext with selected user    CURRENTLY NOT WORKING !!!!!
            document.getElementById("userButtonText").innerHTML = "Add";
        };

        function deleteUser(value) {
            console.log("deleteUser ");

            // deselect then delete row
            if (currentUserTableRow > 0) {
                console.log("deleting user row " + currentUserTableRow);
                var IDstr = "userTableRow" + currentUserTableRow.toString();
                document.getElementById(IDstr).removeAttribute("class");
                document.getElementById('userTable').deleteRow(currentUserTableRow);
                currentUserTableRow = 0;
                userTotalRows--;
            }
        };

        function deleteRight() {
            console.log("deleteRight ");

            // deselect then delete row
            if (currentRightTableRow > 0) {
                console.log("deleting right row " + currentRightTableRow);
                var IDstr = "rightTableRow" + currentRightTableRow.toString();
                document.getElementById(IDstr).removeAttribute("class");
                document.getElementById('rightTable').deleteRow(currentRightTableRow);
                currentRightTableRow = 0;
                rightTotalRows--;
            }
        };


        function rowClick(value) {

            var totalRows = 0;

            if (value.id.substring(0, 5) == "right") {
                // this is the right table
                totalRows = rightTotalRows;
            } else {
                // user table
                totalRows = userTotalRows;
            };

            console.log("rowClick row value is " + value.rowIndex);
            console.log("current row value is " + currentRightTableRow);
            // check either user or right table
            if (value.id.substring(0, 5) == "right") {
                if (currentRightTableRow > 0) {
                    console.log("1");
                    // deselect previously selected row if another row clicked
                    var IDstr = value.id.substring(0, value.id.length - 1) + currentRightTableRow.toString();
                    document.getElementById(IDstr).removeAttribute("class");
                    // previous row re-clicked so unselected
                    if (currentRightTableRow == value.rowIndex) {
                        console.log("3");
                        //document.getElementById("rightButton").setAttribute("disabled", "disabled");
                        //document.getElementById("rightDeleteButton").setAttribute("disabled", "disabled");
                        currentRightTableRow = 0;
                        // clear right 
                        sessionStorage.setItem("right", "");
                        // change button text to Add
                        var tempStr = document.getElementById("rightButton").innerHTML;
                        tempStr = tempStr.replace("Amend", "Add");//
                        //console.log(tempStr);
                        document.getElementById("rightButton").innerHTML = tempStr;
                    } else {
                        console.log("4");
                        //document.getElementById("rightButton").removeAttribute("disabled");
                        //document.getElementById("rightDeleteButton").removeAttribute("disabled");
                        document.getElementById(value.id).setAttribute("class", "positive");
                        currentRightTableRow = value.rowIndex;
                        // set right 
                        sessionStorage.setItem("right", document.getElementById(value.id).innerText);
                        // change button text to Add
                        var tempStr = document.getElementById("rightButton").innerHTML;
                        tempStr = tempStr.replace("Add", "Amend");
                        //console.log(tempStr);
                        document.getElementById("rightButton").innerHTML = tempStr;
                    }

                } else if (currentRightTableRow == 0) {
                    console.log("2");
                    //document.getElementById("rightButton").removeAttribute("disabled");
                    //document.getElementById("rightDeleteButton").removeAttribute("disabled");
                    document.getElementById(value.id).setAttribute("class", "positive");
                    currentRightTableRow = value.rowIndex;
                    // set right 
                    sessionStorage.setItem("right", document.getElementById(value.id).innerText);
                    // change button text to Add
                    var tempStr = document.getElementById("rightButton").innerHTML;
                    tempStr = tempStr.replace("Add", "Amend");
                    //console.log(tempStr);
                    document.getElementById("rightButton").innerHTML = tempStr;
                };
            }
            if (value.id.substring(0, 4) == "user") {
                if (currentUserTableRow > 0) {
                    console.log("1");
                    // deselect previously selected row if another row clicked
                    var IDstr = value.id.substring(0, value.id.length - 1) + currentUserTableRow.toString();
                    document.getElementById(IDstr).removeAttribute("class");
                    // previous row re-clicked so unselected
                    if (currentUserTableRow == value.rowIndex) {
                        console.log("3");
                        //document.getElementById("rightButton").setAttribute("disabled", "disabled");
                        //document.getElementById("rightDeleteButton").setAttribute("disabled", "disabled");
                        currentUserTableRow = 0;
                        // clear right 
                        sessionStorage.setItem("user", "");
                        // change button text to Add
                        var tempStr = document.getElementById("userButton").innerHTML;
                        tempStr = tempStr.replace("Amend", "Add");//
                        //console.log(tempStr);
                        document.getElementById("userButton").innerHTML = tempStr;
                    } else {
                        console.log("4");
                        //document.getElementById("rightButton").removeAttribute("disabled");
                        //document.getElementById("rightDeleteButton").removeAttribute("disabled");
                        document.getElementById(value.id).setAttribute("class", "positive");
                        currentUserTableRow = value.rowIndex;
                        // set right 
                        sessionStorage.setItem("user", document.getElementById(value.id).innerText);
                        // change button text to Add
                        var tempStr = document.getElementById("userButton").innerHTML;
                        tempStr = tempStr.replace("Add", "Amend");
                        //console.log(tempStr);
                        document.getElementById("userButton").innerHTML = tempStr;
                    }
                } else if (currentUserTableRow == 0) {
                    console.log("2");
                    //document.getElementById("rightButton").removeAttribute("disabled");
                    //document.getElementById("rightDeleteButton").removeAttribute("disabled");
                    document.getElementById(value.id).setAttribute("class", "positive");
                    currentUserTableRow = value.rowIndex;
                    // set right 
                    sessionStorage.setItem("user", document.getElementById(value.id).innerText);
                    // change button text to Add
                    var tempStr = document.getElementById("userButton").innerHTML;
                    tempStr = tempStr.replace("Add", "Amend");
                    //console.log(tempStr);
                    document.getElementById("userButton").innerHTML = tempStr;
                };
            };
        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            document.getElementById("hLoggedInAs").innerHTML = "<h1 class=\"ui right aligned header\" style=\"color: white\">Welcome " + sessionStorage.getItem("name") + "</h1>";

            console.log(sessionStorage.getItem("servicename"));

            // clear any stored rights
            sessionStorage.setItem("right", "");

            // check if new or amend
            if (sessionStorage.getItem("servicename") == "new") {
                document.getElementById("mainTitle").innerText = "Service - new";
                amendData = false;
            } else {
                document.getElementById("mainTitle").innerText = "Service - amend";
                document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");
                document.getElementById("createButton").innerText = "Amend";
                amendData = true;
            };

            //sessionStorage.setItem("right", null);

            // get no. rows in each table. Used in rowClick()
            var tableRef = document.getElementById('rightTable').getElementsByTagName('tbody')[0];
            rightTotalRows = tableRef.rows.length;
            tableRef = document.getElementById('userTable').getElementsByTagName('tbody')[0];
            userTotalRows = tableRef.rows.length;

            currentRightTableRow = 0;
            currentUserTableRow = 0;
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        //socket.on('createNewServiceRet', function (data) {
        //    console.log("Create new service in browser called ...");
        //    var sname = document.getElementById("servicetext").value;
        //    sessionStorage.setItem("servicename", sname);
        //    window.location("createright");
        //});

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        function goBack() {
            window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });

    </script>

    <div class="ui equal width middle aligned padded grid">

        <div class="grey row">
            <div class="column">
                <img class="ui small image" style="border-radius: 5%" src="images/logo.png" />
            </div>
            <div class="column">
                <h1 class="ui left aligned header" id="mainTitle" style="color: white">Service</h1>
            </div>
            <div class="column"></div>
            <div class="column" id="hLoggedInAs">
                <h1 class="ui right aligned header" style="color: white">Welcome</h1>
            </div>

            <div class="column">
                <div class="ui right aligned dropdown">
                    <img class="ui tiny avatar image" src="images/avatars/debbie.jpg" />
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" onclick="logout()">
                            <i class="sign out icon"></i>
                            Logout
                        </div>
                    </div>
                </div>
            </div>
            <div class="right aligned column">
                <i class="arrow circle left huge icon" id="gobackicon" style="cursor: pointer" onclick="goBack()"></i>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header">
        <i class="calendar icon"></i>
        April 5, 2017
    </div>


    <div class="ui hidden divider"></div>

    <div class="ui padded grid" style="padding-top: 5%; padding-left: 15%; padding-right: 20%">
        <div class="ui right aligned column">
            <div class="flex-containerredtitle">
                <div class="flex-container5">
                    <h3>Service</h3>
                </div>
                <div class="flex-container3">
                    <div class="ui form">
                        <div class="fields">
                            <div class="field">
                                <div class="ui large label" style="float: left">
                                    Service Name
                                </div>
                                <div class="ui hidden divider"></div>
                                <div class="ui hidden divider"></div>
                                <div class="ui input">
                                    <input type="text" id="servicetext" placeholder="" />
                                </div>
                            </div>

                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field">
                                <div style="height: 180px; overflow-y: scroll; overflow-x: hidden; border: solid 1px">
                                    <table class="ui selectable celled table" style="background-color: white; width: 220px" id="rightTable">
                                        <thead>
                                            <tr>
                                                <th>Available Right Types</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="rightTableRow1" onclick="rowClick(this)">
                                                <td>Car Rental</td>
                                            </tr>
                                            <tr id="rightTableRow2" onclick="rowClick(this)">
                                                <td>Music Streaming Subscription</td>
                                            </tr>
                                            <tr id="rightTableRow3" onclick="rowClick(this)">
                                                <td>Theatre Ticket</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="ui hidden divider"></div>

                                <div class="ui buttons">
                                    <div class="ui grey button" id="rightButton" onclick="createNewRight()">
                                        Add
                                    </div>
                                    <div class="or"></div>
                                    <div class="ui grey button" id="rightDelButton" onclick="deleteRight()">
                                        Del
                                    </div>
                                </div>
                            </div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field">
                                <div style="height: 180px; overflow-y: scroll; overflow-x: hidden; border: solid 1px">
                                    <table class="ui table" style="background-color: white; width: 220px;" id="userTable">
                                        <thead>
                                            <tr>
                                                <th>Eligible Users</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="userTableRow1" onclick="rowClick(this)">
                                                <td>Hugue</td>
                                            </tr>
                                            <tr id="userTableRow2" onclick="rowClick(this)">
                                                <td>Janna</td>
                                            </tr>
                                            <tr id="userTableRow3" onclick="rowClick(this)">
                                                <td>Tommi</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ui hidden divider"></div>
                                <div class="ui buttons">
                                    <div class="ui grey dropdown button">
                                        Add
                                    <div class="menu">

                                        <div class="divider"></div>

                                        <div class="item" onclick="addUser(this)">
                                            <!--<div class="ui red empty circular label"></div>-->
                                            Adam
                                        </div>
                                        <div class="item" onclick="addUser(this)">
                                            <!--<div class="ui blue empty circular label"></div>-->
                                            Helal
                                        </div>
                                        <div class="item" onclick="addUser(this)">
                                            <!--<div class="ui black empty circular label"></div>-->
                                            Neil
                                        </div>
                                        <div class="divider"></div>
                                    </div>
                                    </div>
                                    <div class="or"></div>
                                    <div class="ui grey button" id="userDelButton" onclick="deleteUser()">
                                        Del
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <button class="ui button" id="createButton" type="button" onclick="createNewService()" disabled="disabled">Create</button>
        </div>
    </div>

</body>
</html>
