<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\table.min.css" />
    <script src="socket.io/socket.io.js"></script>

    <script>
        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function createNewService() {
            var socket = io.connect();
            socket.emit('createNewService', { data: 'You clicked the create button' });
            console.log("create button clicked");
        };

        function highlight(e) {  // used to select a row in the table

            var strData = e.target.innerText;
            console.log(strData);

            if (selected[0]) selected[0].className = '';   // clear previous selection
            e.target.parentNode.className = 'selectedrow';

            if (strData == "Tommi") {   // Create button
                // enable Create button. It gets disabled only if top title row selected 
                document.getElementById("createButton").removeAttribute("disabled");
            } else {  // title row so disable Create button
                document.getElementById("createButton").setAttribute('disabled', 'disabled');
            }
        };

        /* When the user clicks on the button toggle between hiding and showing the dropdown content */
        function ddShow() {
            document.getElementById("myDropdown").classList.toggle("show");
        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date().toLocaleString();
            document.getElementById("hLoggedInAs").innerText = "Welcome " + sessionStorage.getItem("name"); // + " on " + ts;

            // get service created
            // document.getElementById("servicetext").innerText = sessionStorage.getItem("servicename");

            // set up table for selection
            var table = document.getElementById("userstable");
            selected = table.getElementsByClassName("selectedrow");
            table.onclick = highlight;
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        socket.on('createNewServiceRet', function (data) {
            console.log("Create new service in browser called ...");
            var sname = document.getElementById("servicetext").value;
            sessionStorage.setItem("servicename", sname);
            window.location("createright");
        });

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        function goBack() {
            window.history.back();
        };

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            console.log("window.onclick called " + e.target.className);
            if (e.target.className != 'chevron circle down icon') {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

    <div class="flex-title">
        <div>
            <img id="logoImg" alt="no logo" src="images/logo.png" width="104" height="104" />
        </div>
        <div class="hpagefunction">Services : new service</div>
        <div class="flex-menu">
            <h2 id="hLoggedInAs">Welcome</h2>
            <img id="userimage" src="images/avatars/debbie.jpg" width="50" height="50" style="border-radius: 100%" />
            <div class="dropdown">
                 <button onclick="ddShow()" class="ui icon button" style="width:auto" id="userbutton">
                    <i class="chevron circle down icon"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Account</a>
                    <a href="#" onclick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header"></div>
    <div class="flex-body" style="height: 60%">
        <div class="flex-containercentre">
            <div class="flex-container4">
                <div class="flex-containerrightalign" style="width: inherit">
                    <div class="flex-containerredtitle">
                        <div class="flex-container5">
                            <h3>Create Service</h3>
                        </div>
                        <div class="flex-container6">
                            <div>
                                <h4>Service Name</h4>
                                <input class="input-field" id="servicetext" type="text" />
                            </div>
                            
                            <div>
                                <h4>Eligible Users</h4>
                                <table class="ui table" id="userstable" style="width: 800px; background-color: white; overflow-y: scroll">
                                    <tr>
                                        <td>Hugues</td>
                                    </tr>
                                    <tr>
                                        <td>Neil</td>
                                    </tr>
                                    <tr>
                                        <td>Tommi</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <button class="ui button" id="createButton" type="button" onclick="createNewService()" disabled="disabled">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
