<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Login</title>

    <!--<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <link rel="stylesheet" href=".\stylesheets\dn.css" />
    <!--  <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\input.css" />-->

    <script src="socket.io/socket.io.js"></script>

    <script>        

        function login() {
            var socket = io.connect();

            // login first to get a token
            var data = "Paivi:passw0rd";
            socket.emit('login', { data: data });
        }
    </script>

</head>
<body>
    <script>


        var socket = io.connect();

        socket.on('loginRet', function (data) {
            var data = document.getElementById("userID").value;

            //setTimeout(function () { socket.emit('queryBC', { data: data }) }, 80);
            socket.emit('queryBC', { data: data });

            console.log(data + " tried to query BC");
        });

        socket.on('TEST', function (data) {
            console.log("TEST return " + data);
        });

        socket.on('queryBCRet', function (data) {
            console.log("Query BC in browser called with ...");
            console.log(data.data);

            if (data.data == '[]') {
                sessionStorage.setItem("ownerID", document.getElementById("userID").value);
                sessionStorage.setItem("propertyID", "No records");
                window.location("DNresult");
            } else {  // success
                var str = JSON.parse(data.data);
                sessionStorage.setItem("ownerID", str[0].ownerID);
               // console.log("owner1 " + str[0].ownerID);
                //  console.log("owner2 " + str[0].["ownerID"]);
                sessionStorage.setItem("propertyID", str[0].propertyID);
                window.location("DNresult");
            }
        });

        function checkSubmit(e) {
            // try login if Enter key hit
            if (e && e.keyCode == 13) {
                login();
            }
        }

    </script>

    <div class="flex-title">
        <div>
            <h1>Query DN Service</h1>
        </div>

    </div>

    <div class="flex-loginbody">
        <div class="flex-containerrightalign">
            <div class="flex-containerlogin">
                <div>&nbsp;</div>
                <div class="ui icon input">
                    <input class="input-username" type="text" id="userID" placeholder="Id number..." autofocus="autofocus" onkeypress="return checkSubmit(event)" />
                    <i class="sign in large link icon" onclick="login()"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
