<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Login</title>

    <!--<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />-->

     <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <link rel="stylesheet" href=".\stylesheets\dn.css" />
  <!--  <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\input.css" />-->

    <script src="socket.io/socket.io.js"></script>

    <script>        

        function login() {
            var socket = io.connect();
            var data = document.getElementById("userID").value;
            socket.emit('queryBC', { data: data });
            console.log(data + " tried to query BC");
        }
    </script>

</head>
<body>
    <script>

       
        var socket = io.connect();
        socket.on('queryBCRet', function (data) {
            console.log("Query BC in browser called with ...");
            var name = document.getElementById("userID").value;
            console.log(name);
            var str = data.data;

            if (str.substring(0, 7) == "success") {
                // clear storage (house table data)
                localStorage.clear();
                // and connect to mySQL db
                socket.emit("connecttodb", "");
                sessionStorage.setItem("name", name);
                window.location("houses");
            } else {
                window.alert("Query BC Failed for " + name);
                //window.location("HCloginfail?name=" + name);
            }
        });

        function checkSubmit(e) {
            // try login if Enter key hit
            if (e && e.keyCode == 13) {
                login();
            }
        }

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/DN");
        });

    </script>
      
    <div class="flex-title">
        <div>
            <h1>Query DN Service</h1>
        </div>
         <div class="right aligned column">
            <i class="sign out huge icon" title="logout" id="logouticon" style="cursor: pointer; position: absolute; right: 0px; top: 50px" onclick="logout()"></i>
        </div>
    </div>

     <div class="ui padded grid" style="padding-top: 7%; padding-left: 15%; padding-right: 15%">
        <div class="ui right aligned column">
            <div class="flex-container3">
                <div>&nbsp;</div>
                <table class="ui selectable striped celled table" style="background-color: white; overflow-y: scroll" id="housetable">
                    <thead>
                        <tr>
                            <th>Housing Certificate</th>
                            <th>ID</th>
                            <th>Owner</th>
                            <th>Registration</th>
                            <th>Finalised</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<tr id="houseTableRow1" onclick="rowClick(this.rowIndex)" ondblclick="rowDblClick(this)">
                            <td>Computer Science building, Konemiehentie 2, 02150 Espoo</td>
                            <td>123-456-789-000</td>
                            <td>Linus Torvalds
                            </td>
                            <td>17/09/1991</td>
                        </tr>
                        <tr id="houseTableRow2" onclick="rowClick(this.rowIndex)" ondblclick="rowDblClick(this)">
                            <td>34 Angular Street </td>
                            <td>489-293-23-583</td>
                            <td>Miško Hevery</td>
                            <td>14/09/2016</td>
                        </tr>
                        <tr id="houseTableRow3" onclick="rowClick(this.rowIndex)" ondblclick="rowDblClick(this)">
                            <td>Bike Shed</td>
                            <td>483-233-789-102</td>
                            <td>Eddie Merckx</td>
                            <td>17/06/1945</td>
                        </tr>-->
                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="5">
                                <div class="ui right floated small primary labeled icon button" id="newButton" onclick="newHouse(true)">
                                    <i class="file text outline icon"></i>New
                                </div>
                                <div class="ui disabled right floated small red icon button" id="delButton" onclick="delHouse()">
                                    <i class="trash outline icon"></i>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
