<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\HC.css" />
    <script src="socket.io/socket.io.js"></script>

    <script>

        var houseOwner;  // set when dd selected but can't get dd selection later

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function saveHouse() {
            // create and build up data object
            var certData = {
                description: "",
                propertyID: "",
                owner: "",
                authenticationDate: 0,
                registrationDate: 0,
                price: 0,
                taxPaid: false
            };

            certData.description = document.getElementById("propertyname").value;
            certData.propertyID = document.getElementById("propertyid").value;
            certData.owner = houseOwner; //document.getElementById("owner").innerText;  // innertext is name, value is a date

            var dtmp = new Date(document.getElementById("regdate").value);
            console.log("dtmp is " + dtmp);
            certData.registrationDate = dtmp.getTime();

            var dtmp = new Date();
            dtmp.setTime(document.getElementById("authenticationdate").value);
            console.log("dtmp is " + dtmp);
            certData.authenticationDate = dtmp.getTime();

            certData.price = document.getElementById("price").value;

            if (document.getElementById("taxpaid").value == 'on') {
                certData.taxPaid = true;
            } else {
                certData.taxPaid = false;
            }

            var socket = io.connect();
            //if (amendData) {
            //    socket.emit('amendCert', { data: certData });
            //    console.log("amend button clicked");
            //} else {
            socket.emit('createNewCert', { data: certData });
            console.log("create button clicked");
            // }
        };

        //function sendHouse() {
        //    console.log("sendHouse to DN");
        //    alert("Sent to DN");

        //    var socket = io.connect();
        //    socket.emit('sendHouse', { data: 'You clicked the send button' });
        //    console.log("send button clicked");
        //};

        function setAuthDate(elm) {

            // set authentication date for owner
            var myVar = $(elm).attr('data-value');
            houseOwner = elm.innerText;
            console.log("owner is " + houseOwner);
            document.getElementById("authenticationdate").value = new Date(myVar);
            document.getElementById("authenticationdate").innerText = myVar;

        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date().toLocaleString();
            //document.getElementById("hLoggedInAs").innerText = "Welcome " + sessionStorage.getItem("name"); // + " on " + ts;

            // set values passed in editing house
            if (sessionStorage.getItem("property") != "") {
                //document.getElementById("propertyname").innerText = sessionStorage.getItem("property");
                //document.getElementById("propertyid").innerText = sessionStorage.getItem("propertyid");
                //document.getElementById("owner").innerText = sessionStorage.getItem("owner");
                //document.getElementById("regdate").innerText = sessionStorage.getItem("regdate");

                var socket = io.connect();
                socket.emit("getCert", sessionStorage.getItem("propertyid"));

                // make button amend
                document.getElementById("savebutton").innerText = "Amend";
            } else {
                // populate property ID 
                var choice = Math.floor((Math.random() * 5) + 1);
                console.log("random " + choice);
                switch (choice) {

                    case 1:
                        document.getElementById("propertyid").innerText = "234-544-832-182";
                        break;
                    case 2:
                        document.getElementById("propertyid").innerText = "393-345-121-022";
                        break;
                    case 3:
                        document.getElementById("propertyid").innerText = "987-532-021-932";
                        break;
                    case 4:
                        document.getElementById("propertyid").innerText = "128-732-520-293";
                        break;
                    case 5:
                        document.getElementById("propertyid").innerText = "319-945-992-122";
                        break;
                };
                // make button create
                document.getElementById("savebutton").innerText = "Create";
            }
        };

        var socket = io.connect();

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/HC");
        });


        socket.on('createNewCertRet', function (data) {
            console.log("Create cert in browser called ...");
            window.location("/houses");
        });

        socket.on('getCertRet', function (data) {
            console.log("Get cert in browser called ...");
            document.getElementById("propertyname").innerText = data.data.property;
            document.getElementById("propertyid").innerText = data.data.property;
            document.getElementById("owner").innerText = data.data.property;
            document.getElementById("regdate").innerText = data.data.property;
        });

        socket.on('saveHouseRet', function (data) {
            console.log("Create new house in browser called ...");
            // also save in local storage array for loading table when this screen loads
            var dataArray = new Array();

            // set array to current local storage data then add new data or amend
            if (JSON.parse(localStorage.getItem("tabledata")) != null) {
                dataArray = JSON.parse(localStorage.getItem("tabledata"));
                console.log("array is " + dataArray);

                // clear local storage and then set it again with updated data
                // this stops duplicates
                localStorage.clear();

                if (sessionStorage.getItem("currenthouserow") != "") {
                    // loop through tabledata up to the current row ( / 4)

                    var cellCount = 4;
                    var rowCounter = 0;
                    var currentHouseRow = sessionStorage.getItem("currenthouserow");
                    console.log("currentHouseRow is " + currentHouseRow);
                    for (counter = 0; counter < dataArray.length; counter++) {
                        if (rowCounter == currentHouseRow) {
                            // amend data
                            dataArray[counter] = document.getElementById("propertyname").value;
                            dataArray[counter + 1] = document.getElementById("propertyid").value;
                            dataArray[counter + 2] = document.getElementById("owner").value;
                            dataArray[counter + 3] = document.getElementById("regdate").valueAsDate;
                        }
                        if (cellCount == 4) {
                            rowCounter++;
                        }
                        cellCount--;
                        if (cellCount == -1) { cellCount = 4; }
                    };
                } else {
                    dataArray.push(document.getElementById("propertyname").value);
                    dataArray.push(document.getElementById("propertyid").value);
                    dataArray.push(document.getElementById("owner").value);
                    console.log("date is " + document.getElementById("regdate").valueAsDate);
                    dataArray.push(document.getElementById("regdate").valueAsDate);
                }
                localStorage.setItem("tabledata", JSON.stringify(dataArray));
                console.log("data saved " + JSON.stringify(dataArray));
            }
            window.location("/houses");
        });


        socket.on('sendHouseRet', function (data) {
            console.log("Send new house in browser called ...");
            // also save in local storage array for loading table when this screen loads
            var dataArray = new Array();

            // set array to current local storage data then add new data or amend
            if (JSON.parse(localStorage.getItem("tabledata")) != null) {
                dataArray = JSON.parse(localStorage.getItem("tabledata"));
                console.log("array is " + dataArray);

                // clear local storage and then set it again with updated data
                // this stops duplicates
                localStorage.clear();

                if (sessionStorage.getItem("currenthouserow") != "") {
                    // loop through tabledata up to the current row ( / 4)

                    var cellCount = 4;
                    var rowCounter = 0;
                    var currentHouseRow = sessionStorage.getItem("currenthouserow");
                    console.log("currentHouseRow is " + currentHouseRow);
                    for (counter = 0; counter < dataArray.length; counter++) {
                        if (rowCounter == currentHouseRow) {
                            // amend data
                            dataArray[counter] = document.getElementById("propertyname").value;
                            dataArray[counter + 1] = document.getElementById("propertyid").value;
                            dataArray[counter + 2] = document.getElementById("owner").value;
                            dataArray[counter + 3] = document.getElementById("regdate").valueAsDate;
                        }
                        if (cellCount == 4) {
                            rowCounter++;
                        }
                        cellCount--;
                        if (cellCount == -1) { cellCount = 4; }
                    };
                } else {
                    dataArray.push(document.getElementById("propertyname").value);
                    dataArray.push(document.getElementById("propertyid").value);
                    dataArray.push(document.getElementById("owner").value);
                    console.log("date is " + document.getElementById("regdate").valueAsDate);
                    dataArray.push(document.getElementById("regdate").valueAsDate);
                }
                localStorage.setItem("tabledata", JSON.stringify(dataArray));
                console.log("data saved " + JSON.stringify(dataArray));
            }
            window.location("/houses");
        });

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        $('.ui.checkbox')
            .checkbox()
            ;

        function goBack() {
            window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });


    </script>

    <div class="flex-title">
        <div>
            <img alt="no logo" src="images/HC.png" width="200" height="150" style="position: absolute; left: 0px; top: 0px" />
        </div>
        <div>
            <h1>Finnish Home Service - Registration </h1>
        </div>

        <div class="right aligned column">
            <i class="sign out huge icon" title="logout" id="logouticon" style="cursor: pointer; position: absolute; right: 0px; top: 50px" onclick="logout()"></i>
        </div>
    </div>


    <div class="ui hidden divider"></div>

    <!--<div class="flex-containercentre">-->
    <div class="ui padded grid" style="padding-top: 7%; padding-left: 20%; padding-right: 20%">
        <div class="ui right aligned column">
            <!-- <div class="flex-containerredtitle">
                    <div class="flex-container5">
                        <h3>Houses</h3>
                    </div>-->
            <div class="flex-container3" style="justify-content: space-around">

                <form class="ui center aligned form" style="width: inherit">
                    <h4 class="ui left aligned dividing header">Property Information</h4>
                    <div class="field">

                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Description</label>
                                <input id="propertyname" name="propertyname" type="text" placeholder="House Description" />
                            </div>
                            <div class="four wide field">
                                <label>Property ID</label>
                                <input id="propertyid" name="propertyid" type="text" placeholder="Property ID" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fields">
                            <!-- <div class="twelve wide field">
                                <label>Owner</label>
                                <input id="owner" name="owner" type="text" placeholder="Owner" />
                            </div>-->

                            <div class="eight wide field">
                                <label>Owner</label>
                                <div class="ui fluid search selection dropdown">
                                    <input name="owner" id="owner" type="hidden" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select Owner</div>
                                    <div class="menu">
                                        <div class="item" data-value="10/05/2017" onclick="setAuthDate(this)"><i class="check circle green icon"></i>Adam Morriss </div>
                                        <div class="item" data-value="23/08/2011" onclick="setAuthDate(this)"><i class="check circle green icon"></i>Helal Miah</div>
                                        <div class="item" data-value="00/00/0000" onclick="setAuthDate(this)"><i class="minus circle red icon"></i>Hugues Flament</div>
                                        <div class="item" data-value="11/02/2012" onclick="setAuthDate(this)"><i class="check circle green icon"></i>Neil Rapley </div>
                                        <div class="item" data-value="00/00/0000" onclick="setAuthDate(this)"><i class="minus circle red icon"></i>Sai Rajagopalan </div>
                                    </div>
                                </div>

                            </div>
                            <div class="four wide field">
                                <label>Authentication Date</label>
                                <input id="authenticationdate" name="authenticationdate" type="date" />
                            </div>
                            <div class="four wide field">
                                <label>Registration Date</label>
                                <input id="regdate" name="regdate" type="date" />
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="fields">
                            <!--<div class="flex-container7">-->
                            <div class="four wide field">
                                <label>Price</label>
                                <input id="price" name="price" type="text" />
                            </div>
                            <div class="two wide field">
                                <!--<div style="vertical-align:middle; display:inline-block">-->
                                <!--<div class="ui checkbox" style="vertical-align:middle; display:inline-block">-->
                                <label>Tax Paid</label>
                                <input tabindex="0" id="taxpaid" class="hidden" type="checkbox" />
                                <!--</div>-->
                            </div>
                            <!--</div>-->

                        </div>
                    </div>

                    <div tabindex="0" class="ui button" onclick="goBack()">Cancel</div>
                    <div tabindex="1" class="ui button" onclick="saveHouse()" id="savebutton">Create</div>
                    <!--<div tabindex="2" class="ui button" onclick="sendHouse()">Send DN</div>-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>


