<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" href=".\stylesheets\HC.css" />
    <script src="socket.io/socket.io.js"></script>

    <script>

        var houseOwner;  // set when dd selected but can't get dd selection later
        var authDate; // similar to above as can't seem to get the date value in the date input field
        var regDate; // similar to above as can't seem to get the date value in the date input field
        var amendData;

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function saveHouse() {
            // create and build up data object
            var certData = {
                description: "",
                propertyID: "",
                owner: "None",
                authenticationDate: 0,
                registrationDate: 0,
                price: 0,
                taxPaid: false
            };

            certData.description = document.getElementById("propertyname").value;
            certData.propertyID = document.getElementById("propertyid").value;
            certData.owner = houseOwner; //document.getElementById("owner").innerText;  // innertext is name, value is a date
            console.log("2.owner is " + houseOwner);
            var regdt = new Date(regDate); // document.getElementById("regdate").value);
            var currentDate = $("input#regdate").val();
            console.log("currentDate is " + currentDate);
            certData.registrationDate = regdt.getTime();
            console.log("reg date is " + certData.registrationDate);

            var authdt = new Date(authDate); // new Date(document.getElementById("authenticationdate").value); //same problem as owner so stored in instance var
            certData.authenticationDate = authdt.getTime();
            //console.log("auth date is " + document.getElementById("authenticationdate").value);
            //console.log("auth date is " + authdt);
            console.log("auth date is " + certData.authenticationDate);

            certData.price = parseInt(document.getElementById("price").value);
            console.log("price is " + certData.price);

            
            certData.taxPaid = document.getElementById("taxpaid").checked;
            console.log("taxpaid is (checked)" + document.getElementById("taxpaid").checked);
            //if (document.getElementById("taxpaid").checked == 'on') {
            //    certData.taxPaid = true;
            //    console.log("tax paid is true");
            //} else {
            //    certData.taxPaid = false;
            //    console.log("tax paid is false");
            //}
            
            var socket = io.connect();
            if (amendData) {
                socket.emit('amendCert', { data: certData });
                console.log("amend button clicked");
            } else {
                socket.emit('createNewCert', { data: certData });
                console.log("create button clicked");
            }
        };

        //function sendHouse() {
        //    console.log("sendHouse to DN");
        //    alert("Sent to DN");

        //    var socket = io.connect();
        //    socket.emit('sendHouse', { data: 'You clicked the send button' });
        //    console.log("send button clicked");
        //};

        function setAuthDate(elm) {

            // set authentication date for owner
            authDate = $(elm).attr('data-value');
            console.log("auth date 1 " + authDate);
            houseOwner = elm.innerText;
            console.log("1. owner is " + houseOwner);

            document.getElementById("authenticationdate").innerText = authDate;
        };


        function setRegDate(elm) {

            regDate = elm.value
            console.log("regDate 1 " + regDate);

        };


        function setCheckbox(value) {
            console.log("checkboc clicked " + value.checked);
        };

    </script>
</head>
<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date().toLocaleString();
            //document.getElementById("hLoggedInAs").innerText = "Welcome " + sessionStorage.getItem("name"); // + " on " + ts;

            // set values passed in editing house
            if (sessionStorage.getItem("property") != "") {
                console.log("amend");
                document.getElementById("propertyname").innerText = sessionStorage.getItem("property");
                document.getElementById("propertyid").innerText = sessionStorage.getItem("propertyid");

                var ddtmp = document.getElementById("ownermenu");
                document.getElementById("ownermenu").innerText = sessionStorage.getItem("owner");  // sets text but breaks dd func
                houseOwner = sessionStorage.getItem("owner");  // set instance as dd won't be clicked for amend
                //$dropdown = $('.ui.dropdown');
                //$dropdown.dropdown('set selected', [sessionStorage.getItem("regdate")]); 
              //  $('.ui.dropdown').has(dropdownID).dropdown('set selected', value);
                //document.getElementById("ownermenu").selectedIndex = 2;
               // changeValue("ownermenu", sessionStorage.getItem("owner"));

                console.log("owner is " + sessionStorage.getItem("owner"));
                var dregtmp = new Date(parseInt(sessionStorage.getItem("regdate")));
                document.getElementById("regdate").innerText = dregtmp.getDate() + '/' + (dregtmp.getMonth() + 1) + '/' + dregtmp.getFullYear();
                setRegDate = dregtmp.getDate() + '/' + (dregtmp.getMonth() + 1) + '/' + dregtmp.getFullYear();

                var dauthtmp = new Date(parseInt(sessionStorage.getItem("authdate")));
                document.getElementById("authenticationdate").innerText = dauthtmp.getDate() + '/' + (dauthtmp.getMonth() + 1) + '/' + dauthtmp.getFullYear();
                authDate = dauthtmp.getDate() + '/' + (dauthtmp.getMonth() + 1) + '/' + dauthtmp.getFullYear(); // set instance as amending i.e. this won't be set by clicking date as on new 

                document.getElementById("price").innerText = sessionStorage.getItem("price");
                console.log("setting tax paid to " + sessionStorage.getItem("taxpaid"));
                document.getElementById("taxpaid").checked = (sessionStorage.getItem("taxpaid") == "true");

                // make button amend
                document.getElementById("savebutton").innerText = "Amend";
                amendData = true;
            } else {
                console.log("create");
                // populate property ID 
                var choice = Math.floor((Math.random() * 5) + 1);
                console.log("random " + choice);
                switch (choice) {

                    case 1:
                        document.getElementById("propertyid").innerText = "234-544-832-182";
                        break;
                    case 2:
                        document.getElementById("propertyid").innerText = "393-345-121-022";
                        break;
                    case 3:
                        document.getElementById("propertyid").innerText = "987-532-021-932";
                        break;
                    case 4:
                        document.getElementById("propertyid").innerText = "128-732-520-293";
                        break;
                    case 5:
                        document.getElementById("propertyid").innerText = "319-945-992-122";
                        break;
                };
                // make button create
                document.getElementById("savebutton").innerText = "Create";
                amendData = false;
            }
        };

        var socket = io.connect();

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location.href = "/HC";
        });


        socket.on('amendCertRet', function (data) {
            console.log("Amend cert in browser called ...");
            //var sname = document.getElementById("servicetext").value;
            //sessionStorage.setItem("servicename", sname);
            console.log("amendCertRet " + data.data);
            window.location.href = "/houses";
        });



        socket.on('createNewCertRet', function (data) {
            console.log("Create new house in browser called ...");
            // also save in local storage array for loading table when this screen loads
            var dataArray = new Array();

            console.log("createNewCertRet " + data.data);
            //// set array to current local storage data then add new data or amend
            //if (JSON.parse(localStorage.getItem("tabledata")) != null) {
            //    dataArray = JSON.parse(localStorage.getItem("tabledata"));
            //    console.log("array is " + dataArray);

            // clear local storage and then set it again with updated data
            // this stops duplicates
            localStorage.clear();

            if (data.data != "Owner not validated") {

                if (sessionStorage.getItem("currenthouserow") != "") {
                    // loop through tabledata up to the current row ( / 4)

                    var cellCount = 4;
                    var rowCounter = 0;
                    var currentHouseRow = sessionStorage.getItem("currenthouserow");
                    console.log("currentHouseRow is " + currentHouseRow);
                    for (counter = 0; counter < dataArray.length; counter++) {
                        if (rowCounter == currentHouseRow) {
                            // amend data
                            dataArray[counter] = document.getElementById("propertyname").value;
                            dataArray[counter + 1] = document.getElementById("propertyid").value;
                            dataArray[counter + 2] = document.getElementById("owner").value;
                            dataArray[counter + 3] = document.getElementById("regdate").valueAsDate;
                        }
                        if (cellCount == 4) {
                            rowCounter++;
                        }
                        cellCount--;
                        if (cellCount == -1) { cellCount = 4; }
                    };
                } else {
                    dataArray.push(document.getElementById("propertyname").value);
                    dataArray.push(document.getElementById("propertyid").value);
                    dataArray.push(document.getElementById("owner").value);
                    console.log("date is " + document.getElementById("regdate").valueAsDate);
                    dataArray.push(document.getElementById("regdate").valueAsDate);
                }
                localStorage.setItem("tabledata", JSON.stringify(dataArray));
                console.log("data saved " + JSON.stringify(dataArray));
                // }
                window.location.href = "/houses";
            } else {
                alert("This owner has not been validated");
            }
        });


        socket.on('sendHouseRet', function (data) {
            console.log("Send new house in browser called ...");
            // also save in local storage array for loading table when this screen loads
            var dataArray = new Array();

            // set array to current local storage data then add new data or amend
            if (JSON.parse(localStorage.getItem("tabledata")) != null) {
                dataArray = JSON.parse(localStorage.getItem("tabledata"));
                console.log("array is " + dataArray);

                // clear local storage and then set it again with updated data
                // this stops duplicates
                localStorage.clear();

                if (sessionStorage.getItem("currenthouserow") != "") {
                    // loop through tabledata up to the current row ( / 4)

                    var cellCount = 4;
                    var rowCounter = 0;
                    var currentHouseRow = sessionStorage.getItem("currenthouserow");
                    console.log("currentHouseRow is " + currentHouseRow);
                    for (counter = 0; counter < dataArray.length; counter++) {
                        if (rowCounter == currentHouseRow) {
                            // amend data
                            dataArray[counter] = document.getElementById("propertyname").value;
                            dataArray[counter + 1] = document.getElementById("propertyid").value;
                            dataArray[counter + 2] = document.getElementById("owner").value;
                            dataArray[counter + 3] = document.getElementById("regdate").valueAsDate;
                        }
                        if (cellCount == 4) {
                            rowCounter++;
                        }
                        cellCount--;
                        if (cellCount == -1) { cellCount = 4; }
                    };
                } else {
                    dataArray.push(document.getElementById("propertyname").value);
                    dataArray.push(document.getElementById("propertyid").value);
                    dataArray.push(document.getElementById("owner").value);
                    console.log("date is " + document.getElementById("regdate").valueAsDate);
                    dataArray.push(document.getElementById("regdate").valueAsDate);
                }
                localStorage.setItem("tabledata", JSON.stringify(dataArray));
                console.log("data saved " + JSON.stringify(dataArray));
            }
            window.location.href = "/houses";
        });

        function enableButton() {
            console.log("enableButton called");
            document.getElementById("createButton").removeAttribute("disabled");
        };

        $('.ui.checkbox')
            .checkbox()
            ;

        function goBack() {
            window.history.back();
        };

        $(function () {
            $('.ui.dropdown').dropdown();
        });

        //function changeValue(dropdownID, value) {
        //    $('.ui.dropdown').has(dropdownID).dropdown('set selected', value);
        //}

        //$('#regdate').on('click', function () {
        //    var date = new Date($('#regdate').val());
        //    day = date.getDate();
        //    month = date.getMonth() + 1;
        //    year = date.getFullYear();
        //    alert([day, month, year].join('/'));
        //});

        //$('#authenticationdate').on('change', function () {
        //    var date = new Date($('#authenticationdate').val());
        //    day = date.getDate();
        //    month = date.getMonth() + 1;
        //    year = date.getFullYear();
        //    alert([day, month, year].join('/'));
        //});

    </script>

    <div class="flex-title">
        <div>
            <img alt="no logo" src="images/HC.png" width="200" height="150" style="position: absolute; left: 0px; top: 0px" />
        </div>
        <div>
            <h1>Finnish Home Service - Registration </h1>
        </div>

        <div class="right aligned column">
            <i class="sign out huge icon" title="logout" id="logouticon" style="cursor: pointer; position: absolute; right: 0px; top: 50px" onclick="logout()"></i>
        </div>
    </div>


    <div class="ui hidden divider"></div>

    <!--<div class="flex-containercentre">-->
    <div class="ui padded grid" style="padding-top: 7%; padding-left: 20%; padding-right: 20%">
        <div class="ui right aligned column">
            <!-- <div class="flex-containerredtitle">
                    <div class="flex-container5">
                        <h3>Houses</h3>
                    </div>-->
            <div class="flex-container3" style="justify-content: space-around">

                <form class="ui center aligned form" style="width: inherit">
                    <h4 class="ui left aligned dividing header">Property Information</h4>
                    <div class="field">

                        <div class="fields">
                            <div class="twelve wide field">
                                <label>Description</label>
                                <input id="propertyname" name="propertyname" type="text" placeholder="House Description" />
                            </div>
                            <div class="four wide field">
                                <label>Property ID</label>
                                <input id="propertyid" name="propertyid" type="text" placeholder="Property ID" />
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fields">
                            <!-- <div class="twelve wide field">
                                <label>Owner</label>
                                <input id="owner" name="owner" type="text" placeholder="Owner" />
                            </div>-->

                            <div class="eight wide field">
                                <label>Owner</label>
                                <div class="ui fluid search selection dropdown" id="ownermenu">
                                    <input name="owner" id="owner" type="hidden" />
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select Owner</div>
                                    <div class="menu" >
                                        <div class="item" data-value="00/00/0000" onclick="setAuthDate(this)"><i class="minus circle red icon"></i>Hannah</div>
                                        <div class="item" data-value="23/08/2011" onclick="setAuthDate(this)"><i class="check circle green icon"></i>Paivi</div>
                                        <div class="item" data-value="10/05/2017" onclick="setAuthDate(this)"><i class="check circle green icon"></i>Tommi</div>
                                    </div>
                                </div>

                            </div>
                            <div class="four wide field">
                                <label>Authentication Date</label>
                                <input id="authenticationdate" name="authenticationdate" type="date" />
                            </div>
                            <div class="four wide field">
                                <label>Registration Date</label>
                                <input id="regdate" name="regdate" type="date" onchange="setRegDate(this)"/>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="fields">
                            <!--<div class="flex-container7">-->
                            <div class="four wide field">
                                <label>Price</label>
                                <input id="price" name="price" type="text" />
                            </div>
                            <div class="two wide field">
                                <!--<div style="vertical-align:middle; display:inline-block">-->
                                <!--<div class="ui checkbox" style="vertical-align:middle; display:inline-block">-->
                                <label>Tax Paid</label>
                                <input tabindex="0" id="taxpaid" class="hidden" type="checkbox" onclick="setCheckbox(this)"/>
                                <!--</div>-->
                            </div>
                            <!--</div>-->

                        </div>
                    </div>

                    <div tabindex="0" class="ui button" onclick="goBack()">Cancel</div>
                    <div tabindex="1" class="ui button" onclick="saveHouse()" id="savebutton">Create</div>
                    <!--<div tabindex="2" class="ui button" onclick="sendHouse()">Send DN</div>-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>


