<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Login</title>

    <!--<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />-->

     <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

    <link rel="stylesheet" href=".\stylesheets\hc.css" />
  <!--  <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\input.css" />-->

    <script src="socket.io/socket.io.js"></script>

    <script>        

        function login() {
            var socket = io.connect();
            var data = document.getElementById("username").value;
            data += ":" + document.getElementById("passwordtext").value;
            socket.emit('login', { data: data });
            console.log(data + " tried to login");
        }
    </script>

</head>
<body>
    <script>
        var socket = io.connect();

        socket.on('loginRet', function (data) {
            console.log("HC login in browser called with ...");
            var name = document.getElementById("username").value;
            console.log(name);
            var str = data.data;

            if (str.substring(0, 7) == "success") {
                // clear storage (house table data)
                localStorage.clear();
                // and re-load from JSON file

                sessionStorage.setItem("name", name);
                window.location("houses");
            } else {
                window.alert("Login Failed for " + name);
                //window.location("HCloginfail?name=" + name);
            }
        });


    </script>
    <div class="flex-title">
        <div>
            <img alt="no logo" src="images/HC.png" width="200" height="150" style="position: absolute; left: 0px; top: 0px" />
        </div>
        <div>
            <h1>Finnish Home Service</h1>
        </div>

    </div>

    <!--<div class="flex-containercentre">
        <div class="flex-containerlogin">
            <div>
                <div>Name</div>
                <select id="SelectName" name="D1" autofocus="autofocus">
                    <option>- </option>
                    <option>Tommi</option>
                </select>
            </div>
            <div>
                <div>Password</div>
                <input type="password" id="passwordtext" />
            </div>
            <div>
                &nbsp;
            <button id="Button1" type="button" onclick="login()">Login</button>
            </div>
        </div>
    </div>-->


    <!--<div class="flex-containercentre">-->
    <div class="flex-loginbody">
        <div class="flex-containerrightalign">
            <div class="flex-containerlogin">
                <!--<div class="inline icon field">
                    <label>Username</label>-->
                <div>&nbsp;</div>
                <div class="ui right icon input">
                    <i class="user large icon"></i>
                    <input class="input-username" value="Tommi" type="text" id="username" />
                </div>
                <!--</div>-->
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <!--<div class="inline icon field">
                    <label>Password</label>-->
                <!--   <div class="ui right icon action input">
                        <input class="input-password" placeholder="Pwd..." type="password" id="passwordtext" autofocus="autofocus" />
                        <button class="ui icon button" onclick="login()" style="background-color: white"><i class="sign in large icon"></i></button>
                    </div>-->

                <div class="ui icon input">
                    <input class="input-password" type="password" id="passwordtext" placeholder="pwd..." autofocus="autofocus" />
                    <i class="sign in large link icon" onclick="login()"></i>
                </div>

                <!--</div>-->
            </div>
            <div>&nbsp;</div>
            <div>
                &nbsp;
                
            </div>
        </div>
    </div>
    <!--</div>-->
</body>
</html>
