extends layout

block content

  img.className#IdName(src="images/logo.png" alt="No logo" width=200 height=200)
  hr
  h1= title
  p 
  p Your login failed #{name}. 
  p Why not try again.

  form(method='POST' action='/')
    button(type='submit') Back