 <!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />

    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\input.css" />
    <script src="socket.io/socket.io.js"></script>


    <script>
        function login() {
            var socket = io.connect();
            var data = document.getElementById("username").value;
            data += ":" + document.getElementById("passwordtext").value;
            socket.emit('login', { data: data });
            console.log(data + " tried to login");
        }
    </script>

</head>
<body style="background-color: rgb(209, 0,33);">
    <script>

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date();
            var options = { weekday: "long", year: "numeric", month: "short", day: "numeric" };

            document.getElementById("hLoggedInAs").innerHTML = ts.toLocaleDateString("en-uk", options);   //toLocaleTimeString("en-uk", options);
            sessionStorage.clear();
        };

        var socket = io.connect();

        socket.on('loginRet', function (data) {
            console.log("login in browser called with ...");
            var name = document.getElementById("username").value;
            console.log(name);
            var str = data.data;
            if (str.substring(0, 7) == "success") {
                sessionStorage.setItem("name", name);
                window.location("services");
            } else {
                window.alert("Login Failed for " + name);
               // window.location("loginfail?name=" + name);
            }
        });

        function checkSubmit(e) {
            // try login if Enter key hit
            if (e && e.keyCode == 13) {
                login();
            }
        }

    </script>
    
    <div>
        <img alt="" src="images/logo.png" width="150" height="150" />
    </div>
    <div class="flex-loginbody">
        <div class="flex-containerrightalign">
            <div class="flex-containerlogin">
                <div class="inline icon field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input class="input-username" value="Païvi" type="text" id="username"/>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="inline icon field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input class="input-password" placeholder="Pwd..." type="password" id="passwordtext" autofocus="autofocus" onkeypress="return checkSubmit(event)"/>
                        </div>
                    </div>
            </div>
            <div>&nbsp;</div>
            <div>
                &nbsp;
                <button class="ui button" onclick="login()">Login</button>
            </div>
        </div>
    </div>
</body>
</html>
