<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <script src="socket.io/socket.io.js"></script>


    <script>
        function buttonClick() {
            var socket = io.connect();
            var now = new Date();
            socket.emit('speak', { data: 'You clicked button1' });
            console.log("button1 clicked");
            document.getElementById("Text1").value = now;
        }
    </script>

    <script>
        function dropdownSelection() {
            var socket = io.connect();
            var data = document.getElementById("Select1").value;
            //document.getElementById("Text2").value = data;
            socket.emit('ddselect', { data: data });
            console.log("drop down selected");
        }
    </script>

</head>

<body>

    <script>

        window.onload = function () {
            console.log("onload called : " + localStorage.getItem("name"));
            var ts = new Date().toLocaleString();
            document.getElementById("hLoggedInAs").innerText = "Logged is as " + localStorage.getItem("name") + " on " + ts;
        };

        var socket = io.connect();

        socket.on('message', function (data) {
            console.log(data.message);
            document.getElementById("Text1").value = data.message;
        });
        socket.on('dd_data', function (data) {
            console.log("dd_data in browser called with ...");
            console.log(data.data);
            document.getElementById("Text2").value = data.data;
        });
    </script>

    <img alt="" src="images/logo.png" width="200" height="200" />
    <h1>Project X    </h1>
    <h2 id="hLoggedInAs">Logged in as </h2>
    <hr />

    <div class="flex-container">
        <div class="flex-container2">
            <div>
                <div>
                    <p>Select Service</p>
                    <select id="Select1" name="D1">
                        <option>Service 1</option>
                        <option>Service 2</option>
                        <option>Service 3</option>
                        <option>Service 4</option>
                        <option>Service 5</option>
                        <option>Service 6</option>
                    </select>
                </div>
                <div>
                    <p>Select Identify Verification</p>
                    <select id="Select2" name="D2">
                        <option>ID Verify 1</option>
                        <option>ID Verify 2</option>
                        <option>ID Verify 3</option>
                        <option>ID Verify 4</option>
                        <option>ID Verify 5</option>
                    </select>
                </div>
                <div>
                    <p>Value Limit</p>
                    <input id="Text1" type="text" />
                </div>
                <div>
                    <p>Time Limit</p>
                    <input id="Text2" type="text" />
                </div>
            </div>
            <div>&nbsp;</div>
            <div>
                <div>
                    <p>Divisibility</p>
                    <input id="Text3" type="text" />
                </div>
                <div>
                    <p>Tax</p>
                    <input id="Text4" type="text" />
                </div>
                <div>
                    <p>Additional Info</p>
                    <textarea id="TextArea1" cols="20" name="S1" rows="2"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
