<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Project X</title>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css' />

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css" rel="stylesheet" />-->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script-->

    <link rel="stylesheet" href=".\stylesheets\main.css" />
    <!--<link rel="stylesheet" href=".\stylesheets\components\button.css" />
    <link rel="stylesheet" href=".\stylesheets\components\table.css" />-->
    <!-- <link rel="stylesheet" href=".\stylesheets\components\dropdown.css" />
    <link rel="stylesheet" href=".\stylesheets\components\menu.css" /> 
    <link rel="stylesheet" href=".\stylesheets\components\item.css" />
    <link rel="stylesheet" href=".\stylesheets\components\icon.css" />-->
    <script src="socket.io/socket.io.js"></script>

    <script>

        var selected;

        function logout() {
            var socket = io.connect();
            socket.emit('logout', { data: 'You clicked the logout button' });
            console.log("logout button clicked");
        };

        function createService() {
            createNew = true;
            console.log("create button clicked");
            //var data = document.getElementsByClassName("selectedrow");
            var socket = io.connect();
            socket.emit('createService', { data: "" });
        };

        function amendService() {
            createNew = false;
            console.log("amend button clicked");
            var data = document.getElementsByClassName("selectedrow");
            var socket = io.connect();
            socket.emit('createService', { data: data[0].innerText });
        };

        function selectRowFunc() {

        };

        function highlight(e) {

            var strData = e.target.innerText;
            console.log('highlight ' + strData);

            //  if (selected[0]) selected[0].className = '';   // clear previous selection

            //if (strData == "<New Service>") {   // enable Create button and disable amend button
            //    document.getElementById("createButton").removeAttribute("disabled");
            //    document.getElementById("amendButton").setAttribute('disabled', 'disabled');
            //} else {  // and vice versa
            if (strData.length > 0) {
                e.target.parentNode.className = 'selectedrow';
                // document.getElementById("createButton").setAttribute('disabled', 'disabled');
                document.getElementById("amendButton").removeAttribute("disabled");
            }
        };

        /* When the user clicks on the button toggle between hiding and showing the dropdown content */
        function ddShow() {
            document.getElementById("myDropdown").classList.toggle("show");
        };


    </script>

</head>
<body>
    <!--#424242">-->

    <script>

        var createNew = false;

        window.onload = function () {
            console.log("onload called : " + sessionStorage.getItem("name"));
            var ts = new Date();
            document.getElementById("hLoggedInAs").innerHTML = "Welcome " + sessionStorage.getItem("name"); // + "<br/>" + ts.toString('dddd, MMMM') ;
            //document.getElementById("userbutton").innerHTML = sessionStorage.getItem("name");

            // set up list for selection
            //var list = document.getElementById("servicetable");
            //selected = list.getElementsByClassName("selectedrow");
            //list.onclick = highlight;
        };

        var socket = io.connect();

        socket.on('timesignal', function (data) {
            // console.log(data.data);
            document.getElementById("servertime").innerHTML = '<i class="calendar icon"></i>' + data.data;
        });

        socket.on('logoutRet', function (data) {
            console.log("logout in browser called ...");
            window.location("/");
        });

        socket.on('createServiceRet', function (data) {
            console.log("Create service in browser called ...");
            sessionStorage.setItem("servicename", data.data);
            if (createNew) {
                window.location("createservice");
            } else {
                window.location("createright");
            }
        });

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            console.log("window.onclick called " + e.target.className);
            if (e.target.className != 'chevron circle down icon') {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

    <div class="flex-title">
        <div>
            <img id="logoImg" alt="no logo" src="images/logo.png" width="104" height="104" />
        </div>
        <div class="hpagefunction">Services</div>
        <div class="flex-menu">
            <h2 id="hLoggedInAs">Welcome</h2>
            <img id="userimage" src="images/avatars/debbie.jpg" width="50" height="50" style="border-radius: 100%" />
            <div class="dropdown">
                <button onclick="ddShow()" class="ui icon button" style="width: auto" id="userbutton">
                    <i class="chevron circle down icon"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Account</a>
                    <a href="#" onclick="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="servertime" class="flex-date-header"><i class="calendar icon"></i>April 5, 2017</div>
    <div>
        <!-- moves screen down same amount as back arrow on other screens. Invisible cos we don't want to use it to logout -->
        <img alt="no logo" src="images/back_arrow.png" width="30" height="30" style="background-color: rgb(181, 27, 69); visibility: hidden" />
    </div>
    <div class="flex-body" style="height: 60%">
        <div class="flex-containercentre">
            <!-- <img alt="no back arrow" src="images/back_arrow.png" width="25" height="25" /> -->
            <div class="flex-container4">
                <div class="flex-containerrightalign" style="width: inherit">
                    <div class="flex-containerredtitle">
                        <div class="flex-container5">
                            <h3>Services</h3>
                        </div>
                        <div class="flex-container3">
                            <!--<div>-->
                            <h4>Available Services</h4>

                            <!-- <div style="overflow-x: auto;">-->
                            <!--<select class="ui list" style="width:inherit" name="D2" id="servicelist" >
                                <option>Land Registry</option>
                                <option>Passport Application</option>
                                <option>Ship Registry</option>
                                  <option>&lt;New Service&gt;</option>
                            </select>-->

                            <table class="ui selectable celled table" style="background-color:white" >
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Passport Application</td>
                                        <td>Approved</td>
                                    </tr>
                                    <tr>
                                        <td>Land Registry</td>
                                        <td>Selected</td>
                                    </tr>
                                    <tr>
                                        <td>Something else</td>
                                        <td>Approved</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- </div>-->
                            <!--<br />-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <!--<button class="ui button" id="cancelButton" type="button" onclick="logout()">Cancel</button>
                     &nbsp;-->
                        <button class="ui button" id="amendButton" type="button" onclick="amendService()" disabled="disabled">Amend</button>
                        <button class="ui button" id="createButton" type="button" onclick="createService()">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
